/Makefile
/Makefile.in
_xmsgs/
*_xdb/
_ngo/
xst/
*.jhd
*.xst
*.lso
*.syr
*.prj
*.cmd_log
*.ngc
*.ngr
*.bld
*.ngd
*.xrpt
*_map.mrp
*_map.ncd
*.pcf
*_map.ngm
*_usage.xml
*.ncd
*.pad
*.par
*.unroutes
*.xpi
*_pad.txt
*_pad.csv
*.twr
*.twx
*.drc
*.bgn
*.bit
*.stx
*.ptwx
*_map.map
*_summary.html
*_summary.xml
_impact.cmd
_impact.log
*.ntrc_log
*.restore
*.mfp
*.gise
*.ut
